*.iml
.gradle
/local.properties
*.idea
.DS_Store
*/build
/captures
/TogetherClient/.idea
/TogetherServer/.idea
/TogetherServer/lastupdate.tmp
/TogetherServer/*.exe
/TogetherClient/build
/TogetherClient/app/build
/TogetherServer/routers/commentsRouter_Together_TogetherServer_controllers.go
/TogetherServer/routers/commentsRouter_Together_TogetherServer_controllers_userController.go
/TogetherServer/routers/commentsRouter_controllers.go
/TogetherServer/routers/commentsRouter_controllers_userController.go
